/* navbar */
.nav-custom {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
    color: rgb(44, 44, 194);
}

.nav-icon {
    width: 80px;
    color: rgb(44, 44, 194);
}

.link-img {
    width: 57px;
    height: 42px;
    border-radius: 6px;
    padding: 0;
    margin-right: 85px;
}

.icon-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.icon-drop {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.ring-bell {
    width: 15%;
}




/* form-control crea post */
.icon-user {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.form-post {
    height: 80px;
    width: 600px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.input-post {
    width: 70%;
    border-radius: 20px;
}



/*bottone esterno*/
.modal-btn {
    width: 110px;
    height: 40px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}

.modal-btn:hover {
    background: rgb(49, 92, 253);
    color: white;
    font-size: 1em;
}

header {
    background: url("https://picsum.photos/1920/400");
    background-position: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.btn-modify {
    margin-bottom: 80px;
}

/* /*bottoni profilo esterno */
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 135px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}

.Btn:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* First section */
.row-custom {
    height: 30vh;
}

.div-second-part,
.div-first-part {
    border-bottom: 1px solid rgb(221, 215, 215);

}

/*bottone profilo interno*/
.btn-profile {
    width: 27%;
    height: 25%;
}

/*immagine profil*/
.icon-profile {
    width: 155px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}

/* Second Section */
.second-section {
    height: 80vh;
}

.card-right {
    height: 130px;
    width: 55%;
}

.input-profile {
    height: 40px;
    border-radius: 30px;
    width: 90%;
    background: #fffffa;
}

.input-control {
    border-bottom: 1px solid rgb(221, 215, 215);
}

.icon-second-section {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    flex: 0 0 44px;
}

/* left card */
.icon-detail {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card-left {
    height: 100%;
}

/* cuore peferiti post*/

/* From Uiverse.io by waleedlh10 */
.con-like {
    --red: rgb(255, 50, 50);
    position: relative;
    width: 20px;
    height: 20px;
}

.con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-like .outline,
.con-like .filled {
    fill: var(--red);
    position: absolute;
}

.con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
}

.con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

.con-like .poly {
    stroke: var(--red);
    fill: var(--red);
}

.con-like .like:checked~.checkmark .filled {
    display: block
}

.con-like .like:checked~.checkmark .celebrate {
    display: block
}

@keyframes kfr-filled {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes kfr-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
        display: none;
    }
}

.registerForm{
    
}