/* navbar */
.nav-custom {
    background: #d3d3d3;
}




/* form-control crea post */
.icon-user {
    width: 10%;
    border-radius: 60%;
}

.form-post {
    height: 80px;
    width: 700px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.input-post {
    width: 70%;
    border-radius: 20px;
}

/*bottone esterno*/
button {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}

button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
}