/* navbar */
.nav-custom {
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.logo{
    color: rgb(44, 44, 194);
}
.nav-icon{
    width:80px;
    color:rgb(44, 44, 194);
}
.link-img {
    width: 57px;
    height: 42px;
    border-radius: 6px;
    padding: 0;
    margin-right:85px;
}

.icon-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.icon-drop{
    width:42px;
    height:42px;
    border-radius:50%;
}
.ring-bell{
    width:15%;
}




/* form-control crea post */
.icon-user {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.form-post {
    height: 80px;
    width: 600px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.input-post {
    width: 70%;
    border-radius: 20px;
}

/*bottone esterno*/
.modal-btn {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}

.modal-btn:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
}